body  {
    background-image: url("..\\Images\\a.gif");
	background-size: cover;
    background-color: #cccccc;
    padding: 0px 200px;
    text-align: center;
	margin:0;
   
}
#header
{
	background:rgba(185,183,183,0.95);
	border:40px rgba(185,183,183,0.0) solid;
	
	/* opacity: 0.5; */
	border-radius:40px;
	min-height:500px;
	
	
	
}
header
{
	color:white;
	font-style:italic;
	font-size:28pt;
	font-weight:bold;
	line-height:0;
}
.footer
{
	background-color:#47c9af;
	margin:0;
	padding:0px;
	margin-top:20px;
	padding:0.1px;

}
.footer p
{
	line-height:0px;
}
#form_table
{
    text-align: center;
    margin: auto auto;
	color:white;
	font-style:italic;
	font-size:14pt;
	font-weight:bold;
}
#Menu-Flags
{
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: auto; 
	list-style-type: none;
	

}
#Menu-Flags li{
  float: left;
  margin-left:10px;
  margin-right:10px;
}
#Menu-Flags li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
#Menu-Flags img
{
	 cursor: pointer;
}
#map
{
	width:400px;
}
.AboutUsLeft
{
	width:100%;
	color:#E3E3E3;
	height:300px;
	font-size:20px;
	
}
.AboutUsLeft p
{
	
	
	
}
.AboutUsLeft img
{
	width:300px;
	height:300px;
	float:left;
	border-radius:150px;
	
	margin-right:20px;
	border:6px #47c9af solid;
}

